<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="cordova-plugin-radar"
           version="1.0.0">
    <name>Radar</name>
    <js-module src="www/Radar.js" name="Radar">
        <clobbers target="cordova.plugins.radar"/>
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Radar">
                <param name="android-package" value="io.radar.cordova.RadarCordovaPlugin"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver
                android:name="io.radar.cordova.RadarCordovaPlugin$RadarCordovaReceiver"
                android:enabled="true"
                android:exported="false">
                <intent-filter>
                    <action android:name="io.radar.sdk.RECEIVED" />
                </intent-filter>
            </receiver>
        </config-file>
        <source-file src="src/android/src/main/java/io/radar/cordova/RadarCordovaPlugin.java" target-dir="src/android/src/main/java/io/radar/cordova/RadarCordovaPlugin.java"/>
        <framework src="io.radar:sdk:3.0.5"/>
    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Radar">
                <param name="ios-package" value="CDVRadar"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/CDVRadar.h"/>
        <source-file src="src/ios/CDVRadar.m"/>
        <framework src="RadarSDK" type="podspec" spec="3.0.4"/>
    </platform>
</plugin>
