<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
        id="cordova-plugin-radar"
        version="3.5.0">
    <name>Radar</name>
    <js-module src="www/Radar.js" name="Radar">
        <clobbers target="cordova.plugins.radar"/>
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Radar">
                <param name="android-package" value="io.radar.cordova.RadarCordovaPlugin"/>
            </feature>
        </config-file>

        <edit-config file="AndroidManifest.xml" target="/manifest" mode="merge">
            <manifest xmlns:tools="http://schemas.android.com/tools" />
        </edit-config>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" tools:node="remove" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
        </config-file>

        <source-file src="src/android/src/main/java/io/radar/cordova/RadarCordovaPlugin.java" target-dir="src/android/src/main/java/io/radar/cordova"/>
        <framework src="io.radar:sdk:3.5.9"/>

    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Radar">
                <param name="ios-package" value="CDVRadar"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <preference name="NS_LOCATION_WHEN_IN_USE_USAGE_DESCRIPTION" default="This app uses your location for geofencing." />
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>$NS_LOCATION_WHEN_IN_USE_USAGE_DESCRIPTION</string>
        </config-file>

        <preference name="NS_LOCATION_ALWAYS_AND_WHEN_IN_USE_USAGE_DESCRIPTION" default="This app uses your location for geofencing." />
        <config-file target="*-Info.plist" parent="NSLocationAlwaysAndWhenInUseUsageDescription">
            <string>$NS_LOCATION_ALWAYS_AND_WHEN_IN_USE_USAGE_DESCRIPTION</string>
        </config-file>

        <preference name="NS_LOCATION_ALWAYS_USAGE_DESCRIPTION" default="This app uses your location for geofencing." />
        <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
            <string>$NS_LOCATION_ALWAYS_USAGE_DESCRIPTION</string>
        </config-file>

        <header-file src="src/ios/CDVRadar.h"/>
        <source-file src="src/ios/CDVRadar.m"/>
        <framework src="RadarSDK" type="podspec" spec="3.5.9"/>
    </platform>
</plugin>
